/*
Supersized - Fullscreen Slideshow jQuery Plugin Stylesheet Version 3.0
By Sam Dunn (www.buildinternet.com // www.onemightyroar.com)
Version: supersized.3.0.js
Website: www.buildinternet.com/project/supersized
*/
@font-face {
 font-family:OptimaCyr;
 src: url('Fonts/GOTHIC.eot'); /* EOT file for IE */
}
@font-face {
 font-family:OptimaCyr;
 src: url('Fonts/GOTHIC.ttf'); /* TTF file for CSS3 browsers */
}
    body
{
 
 font-size:10pt;
 font-family: arial
}
	*{
	    margin:0;
	    padding:0;
   	}
	a{	   
	    text-decoration: none;
	    outline: none;
        color: #B1A9A9;
        cursor:pointer;
	   
	}
	img{
	    border:none;
         margin:0;
	    padding:0;
	}
ul
{
   list-style-image: url(Images/orangedisc.gif);
}
	/*Area to place content normally*/
	#content-wrapper{ 
		width:100%; 
		height:100%;         
		position:absolute; 
		top:0; 
		z-index:4; 
	}
	
	/*Controls Section*/
	#controls-wrapper{
	    margin:0px auto;
	    height:62px;
	    width:100%;
	    bottom:0;
	    z-index: 5;
	    background:url('images/nav-bg.png') repeat-x;
	    position:absolute;
	}
	#controls{
	    overflow: hidden;
	    height: 100%;
	    text-align:left;
	    z-index: 5;
	    padding:0 114px; /* Increase padding to give thumbnails room */
	}
	#slidecounter{
	    float:left;
	    color:#888;
	    font:23px "Helvetica Neue", "Helvetica", Arial, sans-serif;
	    font-weight:bold;
	    text-shadow: #000 0px -1px 0px;
	    margin:19px 10px 18px 20px;	
	}
	#slidecaption{
	    overflow: hidden;
	    float:left;
	    color:#FFF;
	    font:16px "Helvetica Neue", "Helvetica", Arial, sans-serif;
	    font-weight:bold;
	    text-shadow: #000 0px 2px 0px;
	    margin:23px 20px 23px 0;
	}
	
body
{
    background: #490608 !important;
    height: 100% !important;    
    background-image: url('Images/bodybg.png') !important;
}
img { border:none; }
.formStyle
{
    overflow:hidden;    
}

#supersized-loader 
{ 
    position:absolute; 
    top:50%; 
    left:50%; 
    z-index:0; 
    width:60px; 
    height:60px; 
    margin:-30px 0 0 -30px; 
    text-indent:-999em; 
    background:url(Images/progress.gif) no-repeat center center;
}
#supersized
{
     height: 458px;
    left: 50%;
    margin: -250px 0 0 -600px;
    position: absolute;
    text-align: center;
    top: 40%;
    vertical-align: middle;
    width: 1100px;
    z-index: -999;
}
#supersized img 
{ 
    width:auto; 
    height:auto; 
    position:relative; 
    display:none; 
    outline:none; 
    border:none; 
}
#supersized.speed img 
{ 
    -ms-interpolation-mode:nearest-neighbor; 
    image-rendering: -moz-crisp-edges; 
}	/*Speed*/
#supersized.quality img 
{ 
    -ms-interpolation-mode:bicubic; 
    image-rendering: optimizeQuality; 
}			/*Quality*/
#supersized li
    {
    display: block;
    list-style: none;
    z-index: -30;
    position: fixed;
    overflow: hidden;
    top: 41.5%;
    left: 50%;
    margin: -229px 0 0 -550px;
    border: solid 2px #f0bc5e;
    height: 454px;
    width: 1096px;
}
#supersized a 
{ 
    width:100%; 
    height:100%; 
    display:block; 
}
#supersized li.prevslide 
{ 
    z-index:-20; 
}
#supersized li.activeslide 
{ 
    z-index:-10; 
}
#supersized li.image-loading 
{ 
    background:#111 url(Images/progress.gif) no-repeat center center; 
    width:100%; 
    height:100%; 
}
#supersized li.image-loading img
{ 
    visibility:hidden; 
}
#supersized li.prevslide img, #supersized li.activeslide img
{ 
    display:inline; 
}
.yellowshadow
{
width: 180px;
height: 150px;   
-webkit-box-shadow: 10 0 150px rgba(252, 202, 101, .9);
-moz-box-shadow:0 0 150px rgba(252, 202, 101, .9);
box-shadow: 0 0 150px rgba(252, 202, 101, .9); 
behavior: url(PIE.htc);
position: absolute;
vertical-align: top;
top:0px;
position:absolute;
left:0px; 
z-index:99;
 margin-left: 20px; 
}
.yellowshadow1
{
width: 600px;
height: 100px;
-webkit-box-shadow: 10 0 150px rgba(252, 202, 101, 1.0);
-moz-box-shadow:0 0 150px rgba(252, 202, 101, 1.0);
box-shadow: 0 0 150px rgba(252, 202, 101, 1.0); 
behavior: url(PIE.htc);
position: absolute;
vertical-align: top;
top:0px;
z-index:99;
margin-left: 20px;
float:right;
background-color: rgba(252, 202, 101, .9); 
}
.FooterTextContent
{
    margin: 0px auto 0px auto;   
    display: block;
    vertical-align: bottom;
    bottom: 0px !important;  
    min-height: 60%;
    max-height: 90%;
    text-align: left;
    position:absolute;
    width:960px;   
}
.FooterContentBlock ul
{
    list-style-type: none;
    list-style-image: none;
    list-style-position: inside;
    display: block;
    margin-left:20px;
}
.FooterContentBlock #tablebookingpage ul
{margin-left:0px;}
.FooterContentBlock ul li
{
    list-style-type: disc !important;
    list-style-image: none;
    list-style-position: outside !important;
    display: block;
}
.FooterContentBlock
{
    background: #3d0303;
    margin: 0px auto 20px auto;
    display: block;
    position: absolute;
    vertical-align: bottom;
    bottom: 0px !important;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0px;
    behavior: url(PIE.htc);
    border-color: #3d0303;
    overflow: visible;    
    padding:20px
}
.FooterContentBlockstyle
{

    margin: 0px auto 10px auto;
    display: block;
    position: absolute;
    vertical-align: bottom;
    bottom: 0px !important;     
    overflow: visible;
    min-height:50%;
}
.FooterContentBlockstylegallery
{
    
    margin: 0px auto 20px auto;
    display: block;
    position: absolute;
    vertical-align: bottom;
    bottom: 0px !important;     
    overflow: visible;
    min-height:80%;
}
.categoryName
{ display: block; 
}
.Bookingpanel, #tablebookingpage
{
    z-index:9999;
    float:left;
    display:block;
    overflow: visible;     
}
.FooterTextContent #tablebookingpage ul li
{
    list-style-type: none !important;
    list-style-image: none !important;
    list-style-position: inside !important;
}
.PriceRoomstyle
{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius:  10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0px;
    behavior: url(PIE.htc);
    border-color: #3d0303;
    margin:20px;     
    background: #3d0303;
    position:absolute;
    bottom: 0px !important;      
    right:0px;
}
.Bookingpanel
{ 
    float:left;      
     vertical-align:bottom !important;  
     bottom: 0px !important  ;
    display: block;  
     margin: 0 auto ;
     padding-bottom:20px;
     bottom: 0px !important;  
     width:900px;
}
    .Bookingpanel span
    {
      
    }
.Bookingpanel #tablebookingpage .inputstyle, .Bookingpanel #tablebookingpage #ctl00_cphWithoutScroll_CategoryViewID_ddlRoomPrices, #ctl00_cphWithoutScroll_CategoryViewID_btnBookNow1
{
 margin-right:10px;
 
}
.FooterTextContent span
{      
       text-align:left;
       display:block;
}
.Bookingpanel table tr td
{
     text-align:left  !important;
     vertical-align:top  !important;
}
.FooterTextContent h3
{
        text-align:left  !important;
        vertical-align:bottom;           
        margin-bottom:10px;    
}
.FooterTextContent ul
{
    list-style-type: none;
    list-style-image: none;
    list-style-position: inside;
}
.FooterTextContent ul li
{
    list-style-type: none;
    list-style-image: none;
    list-style-position: inside;
    display: list-item;
    overflow:visible
}
#ctl00_TopMenu_mnTop a.static:hover 
{
   text-shadow:1px 1px 3px #3a0202 !important;
   
}
#ctl00_TopMenu_mnTop a.static:hover 
{
   text-shadow:1px 1px 3px #3a0202 !important;
}
.bookbutton
{
    vertical-align:bottom;
}
h3
{
    color: #ffc33f;
    font-size: 12pt;
    font-family: OptimaCyr;
    font-weight: normal !important;
    text-transform: uppercase;
    font-weight:bold !important;
   text-shadow:1px 3px 1px #360507;
}
#header
{
    margin: 0px auto;
    width: 960px;
    height: 240px;
    vertical-align: top;
    vertical-align:middle;    
    color: #ffc33f;
    display: block;
    float: none;
    position:relative;
}
#header ul
{
    list-style-type: none;
    list-style-image: none;
    display: block;
}
#header ul li
{
    list-style-type: none;
    list-style-image: none;
    display: block;
    float: left;
    overflow:visible;
  }
.topheaderdiv
{
    background-position: center top;
    width: 100%;    
    background-image: url('Images/headerbg.png');
    background-repeat: no-repeat;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    background-size: 100% 100%;
    behavior: url(PIE.htc);
    overflow: hidden;
    display: block;
    min-height:300px;
    min-width:960px;
    height:45%;
    top:0px;
    text-align:center;
    float:none;
    margin: 0px auto;
}
#menu
{     
    vertical-align: top;
    top: 0px;
    color:#ffc33f;
    overflow:hidden;
    width:800px;
    height:100px;
    position:relative
 }
.lilogo
{
    width:220px;
}
.lilogo a
{
   display:block
}
.limenu
{
      width:750px;
      height:100px;
      left:210px;
      position:absolute;
}
.lilanguages
{    left:870px;
     position:absolute;
     margin-top:3px;
     font-size:11px;
}
#logo
{   
    width: 210px;
    height:240px;
    vertical-align: top;
    top: 0px;  
    position:absolute;
    left:0px; 
}
#logoyellow
{
    background-position: center bottom;
    width: 210px;
    height: 240px;
    vertical-align: top;
    position: absolute;
    top: 0px;
    background-image: url('Images/logo.png');
    background-repeat: no-repeat;
    z-index:9000;
        position:absolute;
    left:0px; 
}
#logoyellow:hover
{
    background-image: url('Images/logo1.png');
}
#footer
{ 
    width: 100%;
    height: 60px;
    display:block;
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
    color:#b1a9a9;
    left:0px;
    float:none;    
   font-family: OptimaCyr !important; 
}
#footer div
{ 
    width:960px;
    text-align:center;   
    display:block;
    float:none;
   font-family: OptimaCyr !important; 
}
.bottomblock
{ background-image: url('Images/bottombg.png');
    background-position:center bottom;
    background-repeat: no-repeat;
  -o-background-size: 100% 100%; /* opera ≥ 9.5 */
    -webkit-background-size: 100% 100%; /* Safari ≥ 5.0, Chrome ≥ 4.0 */
    -khtml-background-size: 100% 100%; /* Konqueror ≥ 3.5.4 */
    -moz-background-size: 100% 100%; /* Firefox ≥ 3.6 */
    background-size: 100% 100%; /* браузеры с поддержкой CSS3: FF ≥ 4, Opera ≥ 10.53, IE ≥*/        
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 300px;
    height: 48%;
    float: none;
    display:block;
    overflow:auto;
}
#content
{
    display:block;
    float:none;
   height:100%;
   margin: 0px auto;
   width: 100%;
    
   overflow: auto; 
    z-index: 9999;
    margin-right: auto;
    margin-left: auto;
 behavior: url(PIE.htc);
}
#ctl00_FooterMenu_menuFooter
{
    text-align:center;
}
.TopMenuStyle
{
    width: auto;
}
ul.DunamicMenuStyle li
{
    overflow: hidden !important;
    list-style: none !important;
	display: inline !important;
    text-align:left;
    float:left;
    background:rgba(76, 0, 1, 1);   
    background: rgb(76, 0, 1) transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#884c0001, endColorstr=#884c0001);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#884c0001, endColorstr=#884c0001)";

}
ul.DunamicMenuStyle li:first-child
{    border-radius: 10px 0px 0px 10px;
    -moz-border-radius:  10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
     behavior: url(PIE.htc);
}
ul.DunamicMenuStyle li:last-child
{    border-radius: 0px 10px 10px 0px;
    -moz-border-radius:  0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
     behavior: url(PIE.htc);
}
ul.DunamicMenuStyle 
{
    overflow: hidden !important;
    float: left ;  
    margin-left: 0px !important;
    background-image: url('Images/arrow.gif') !important;
    background-repeat:no-repeat  !important;
    background-position: 20px top  !important;
    margin-top: 14px !important;
    list-style: none !important;
    width:max-content;
    
}
#ctl00_TopMenu_mnTop ul.dynamic, ul.dynamic li
{
   overflow:hidden; 
   z-index:10000 !important;
   position:absolute;
}

.VIKKI_HiddenButton
{
	visibility: hidden;
	display: none;
	position: absolute;
	left: -100px;
}
.VIKKI_HandCursor
{
    CURSOR: pointer;
}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 95%;
	width: 98%;
	z-index: 10;
}
#hoverNav a{ outline: none;}


.VIKKI_PrevImageLink
{
	width: 49%;
	height: 98%;
	background: transparent url(Images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	z-index: 1000;
	left: 0; 
	float: left;
}

.VIKKI_NextImageLink
{
	width: 49%;
	height: 98%;
	background: transparent url(Images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	z-index: 1000;
	right: 0; 
	float: right; 
}

.VIKKI_PrevImageLink:hover {
	 background: url(Images/prevlabel.gif) left 15% no-repeat;
}

.VIKKI_PrevImageLink:visited:hover {
	 background: url(Images/prevlabel.gif) left 15% no-repeat;
}

.VIKKI_NextImageLink:hover {
	 background: url(Images/nextlabel.gif) right 15% no-repeat;
}

.VIKKI_NextImageLink:visited:hover {
	 background: url(Images/nextlabel.gif) right 15% no-repeat;
}

.VIKKI_ImageBackground
{
	background-color: White;
}
#languages
{
    width:36px;    
    color: #ffc33f;
    font-family: OptimaCyr;
    font-weight: normal;
    text-transform: uppercase;    
    top:13px;
    float: right;   
    vertical-align:top;
    position:absolute;
    width:60px; 
}
.ctl00_ddLanguage_Arrow
{
    background-color: #000 !important;
    background-image: url('Images/WebResource.png') !important;
}
#languages .RadComboBox .rcbReadOnly td.rcbArrowCell a
{    background-color: #450904 !important;
    background-image: url('Images/WebResource.png') !important;
}
.RadComboBox_Black .rcbFocused .rcbArrowCell, .RadComboBox_Black .rcbFocused .rcbReadOnly .rcbInputCell, .RadComboBox_Metro .rcbFocused .rcbReadOnly .rcbArrowCellHidden 
{
    background-color: #000 !important;
}
div.RadComboBox_Black .rcbFocused .rcbArrowCell, div.RadComboBox_Black .rcbFocused .rcbInputCell 
{
     background-color: #000 !important;
}
RadComboBox_Black, .RadComboBox_Black .rcbInput, .RadComboBoxDropDown_Black 
{
     color: #ffc33f !important;
}
div.RadComboBox_Black table td.rcbInputCellLeft {
    border-width:  0 !important;
}
.RadComboBox_Black .rcbHovered .rcbArrowCell, .RadComboBox_Black .rcbHovered .rcbReadOnly .rcbInputCell, .RadComboBox_Black .rcbHovered .rcbReadOnly .rcbArrowCellHidden 
{
   background-color: #000 !important;
}
div.RadComboBox_Black .rcbHovered .rcbArrowCell, div.RadComboBox_Black .rcbHovered .rcbInputCell 
{
  background-color: #000 !important;
}
div.RadComboBox_Metro table td.rcbInputCell
{
    background-color: #000!important;
}
div.RadComboBox_Black .rcbReadOnly .rcbArrowCellRight, div.RadComboBox_Black .rcbArrowCellHidden.rcbArrowCellRight 
{
    border-width: 0 !important;
}
.RadComboBox_Black .rcbHovered .rcbArrowCell, .RadComboBox_Metro .rcbHovered .rcbReadOnly .rcbInputCell, .RadComboBox_Metro .rcbHovered .rcbReadOnly .rcbArrowCellHidden
{
    background-color: #000!important;
}
div.RadComboBox_Black .rcbReadOnly .rcbArrowCellRight, div.RadComboBox_Metro .rcbArrowCellHidden.rcbArrowCellRight 
{
     border-width: 0 !important;
}
.RadComboBoxDropDown_Black {
     background-color: #4c0001  !important;
    border-color: #000 !important;
    border-width: 0px !important;
    border-style:none !important;
}
div.RadComboBoxDropDown_Black .rcbHovered {
    background-color: #4c0001 !important;
    color: #ffc33f !important;
    padding: 1px 5px !important;
    border: 0px none #000 !important;
}
#languages .RadComboBoxDropDown
{
     border: 0px none #000 !important;
}
#languages .RadComboBox table td.rcbInputCell, #languages .RadComboBox .rcbInputCell .rcbInput {
    padding-left: 0px !important;
}
.formbutton
{
    padding: 5px 10px 5px 10px !important;
    border-style: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;   
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    behavior: url(PIE.htc);
    float: right;
    font-size: 10pt;
    color: #000;
    background-color: #ffc33f;
    height: 30px !important;
    cursor:pointer;
    z-index:1000 !important;
    position:relative;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(76, 0, 1,  0.3);
    box-shadow: 1px 1px 1px 1px rgba(76, 0, 1,  0.3);
}
.formbutton:hover
{ background-color:#f9b41c;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(76, 0, 1, 0.1);
    box-shadow: 0px 0px 1px 0px rgba(76, 0, 1,  0.1);
}

.rcbList
{background-color:#682915;}
#pnlBookingHome
{
    font-size:9pt;
    margin:0px;
    padding:0px;    
}
 .homepanel h4, .ChildCategoriespanel h4
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10pt;
    text-transform: uppercase;
    line-height: 28px;
    font-weight:bold;
    padding-left:10px;
   }
 h4
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10pt;
    text-transform: uppercase;
    color: #FFC33F;
    font-family: OptimaCyr;
    padding-top:0px;
    padding-bottom:0px;
}
#footertext .HomeBOOKING
{   
    /*margin-top: -5px;
    margin-bottom: 0px;
    padding-left:0px;
    padding-right: 0px;
    margin-right:0PX;*/
    position: absolute;
    bottom: 0px;
    font-size:10pt;     
   height:30%;
   margin-left:20px;
   margin-bottom:10px;
   overflow: hidden;
}
.homepanel ul
{
    list-style-type: none;
    list-style-image: none;
    overflow: visible;
    margin-bottom: 0px;
    text-align:center;
    float: right;
    height:117px;
}
.ChildCategories
{
       display: block;
    float: right;
    position: relative;
    text-align: center;
    top: 0;
    z-index: 9000;
}
.homepanel ul li, ul.ChildCategoriespanel li
{
    margin: 0px 5px 0px 5PX;
    list-style-type: none;
    list-style-image: none;
    overflow: visible;
    float: left;
    display: inline;
padding: 2px;    
height: 102px;
background: #c1853e; /* Old browsers */
background: -moz-linear-gradient(top, #e1a251 0%, #430001 50%, #e1a251 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1a251), color-stop(50%,#430001), color-stop(100%,#e1a251)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e1a251 0%,#430001 50%,#e1a251 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e1a251 0%,#430001 50%,#e1a251 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e1a251 0%,#430001 50%,#e1a251 100%); /* IE10+ */
background: linear-gradient(to bottom, #e1a251 0%,#430001 50%,#e1a251 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1a251', endColorstr='#e1a251',GradientType=0 ); /* IE6-9 */
 -webkit-box-shadow: 0 0 150px rgba(252, 202, 101, 1.0);
-moz-box-shadow:0 0 150px rgba(252, 202, 101, 1.0);
box-shadow: 0 0 150px rgba(252, 202, 101, 1.0); 
}
.homepanel ul li:hover, ul.ChildCategoriespanel li:hover
{
    margin: 0px 5px 0px 5PX;
    list-style-type: none;
    list-style-image: none;
    overflow: visible;
    float: left;
    display: inline;
padding: 2px;    
height: 102px;
background: #c1853e; /* Old browsers */
background: -moz-linear-gradient(top, #430001 0%, #e1a251 50%, #430001 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#430001), color-stop(50%,#e1a251), color-stop(100%,#430001)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #430001 0%,#e1a251 50%,#430001 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #430001 0%,#e1a251 50%,#430001 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #430001 0%,#e1a251 50%,#430001 100%); /* IE10+ */
background: linear-gradient(to bottom, #430001 0%,#e1a251 50%,#e1a251 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1a251', endColorstr='#e1a251',GradientType=0 ); /* IE6-9 */
 -webkit-box-shadow: 0 0 150px rgba(252, 202, 101, 1.0);
-moz-box-shadow:0 0 150px rgba(252, 202, 101, 1.0);
box-shadow: 0 0 150px rgba(252, 202, 101, 1.0); 
}

.homepanel ul li a, .ChildCategoriespanel li a
{
        margin:0px !important;
        padding:0px !important;
        display: block;
       
}
.homepanel ul li img
{
        margin:0px !important;
        padding:0px !important;
        width:180px;
        height: 102px;
}
.homepanel ul li
{background-color:rgba(252, 202, 101, .9);
 -webkit-box-shadow: 0 0 150px rgba(252, 202, 101, 1.0);
-moz-box-shadow:0 0 150px rgba(252, 202, 101, 1.0);
box-shadow: 0 0 150px rgba(252, 202, 101, 1.0); 
 
behavior: url(PIE.htc);
}
#footertext div.homepanel
{
    float:none;
    text-align:center;
    top:0px;
    position:relative;
    z-index:9000;
    display:block;    

}
	
#footertext
{
    width: 960px;
    vertical-align: bottom !important;
    position:relative;
    bottom: 0px;
    height: 100%;
    color: #ffd681;
    margin-right: auto;
    margin-left: auto;
    float:none;    
   
}

.HomeBOOKING input, #tablebookingpage input, textarea, .contactbookingtable input
{
    border: 1px none #fff !important; 
    -webkit-border-radius: 3px 3px 3px 3px !important;
    -moz-border-radius: 3px 3px 3px 3px !important;
    border-radius: 3px 3px 3px 3px !important;
    behavior: url(PIE.htc);
    margin-bottom:0px;
    padding-left:5px;
    z-index:9999 !important;
    position:relative;
}
.PleaseFillInData
{
  width:400px;
  float: right;
  text-align: right !important;
  padding-right:40px;
  margin-top:-25px;
}
.HomeBOOKING select,  #tablebookingpage select,.contactbookingtable select
{
    border: 1px none #fff;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    behavior: url(PIE.htc);
    margin-bottom:5px;
    width:80px;
    padding-left:5px
}
.CategoryContentContactUS
{
    float:left;
}
.FooterContentBlockContactUSpage
{width:880px;
 margin: 0px auto 20px auto;
    display: block;
    position: absolute;
    vertical-align: bottom;
    bottom: 0px !important;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0px;
    behavior: url(PIE.htc);
    border-color: #3d0303;
    overflow: visible;
    min-height:130px;
    padding:20px;
    background: #3d0303;   
  }
.ContactUSpanel
{  float:left;
}
    .ContactUSpanel table tr td
    {
        vertical-align: top;
        padding-left: 20px
    }
.locationtable td
{
    padding:5px;
}
.locationtable
{
    border: 0px;
    margin-right: 10px;
}
#tablebookingpage span
{
    color:#ffc33f
}
.PriceRoomTitle
{
    color:#ffc33f;
    text-transform: uppercase;
    font-family: OptimaCyr;
    font-size:10pt;
}
.PriceRoomstyle
{
    padding: 15px;
    float: right;  
}
.subpagetitle
{
   background:rgba(61, 3, 3, 0.5);   
   background: rgb(61, 3, 3) transparent;
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000)";
    z-index:+1000;
    position:relative;
    bottom:0px !important;
    width:180px; 
    text-align:left;
   margin-top:-28px;
    
  }

#ctl00_TopMenu_mnTop a.popout, #ctl00_TopMenu_mnTop a.static 
{
    background-image: none !important;
    text-shadow:1px 3px 1px #360507;
}
html body .RadInput_Black .riTextBox, html body .RadInputMgr_Black
{
     border-color: none !important;
}

.td-last
{
    width: 40px;
}

/* Thumbnail Tray
	----------------------------*/
#thumb-tray
{
    z-index: 3;
    bottom: 0;
    width: 720px;
    overflow: hidden;
    text-align: center;
    bottom: 0px !important;
    margin-top: 0px;
    margin-left:40px;
}

#thumb-back, #thumb-forward
{ 
    position:absolute; 
    z-index:5;      
    height:108px; 
    width:40px;
    margin-left:-40px; 
    
}

#thumb-back
{ 
    background: url('Images/thumb-back.gif') no-repeat center center; 
}

#thumb-forward
{ 
    right:0; 
    background:url('Images/thumb-forward.gif') no-repeat center center;
    margin-right:20px;
}

#thumb-back:hover, #thumb-forward:hover
{ 
    cursor:pointer; 
 }				
ul#thumb-list
{ 
    display:inline-block; 
    list-style:none; 
    position:relative; 
    left:0px; 
    padding:0 0px; 
}

ul#thumb-list li
{ 
    list-style:none; 
    display:inline; 
    width:150px; 
    height:108px; 
    overflow:hidden; 
    float:left; 
    margin:0; 
}

ul#thumb-list li img 
{ 
    width:200px; 
    height:auto; 
    opacity:0.5; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; 
    filter:alpha(opacity=60); 
    -webkit-transition: all 100ms ease-in-out; 
    -moz-transition: all 100ms ease-in-out; 
    -o-transition: all 100ms ease-in-out; 
    -ms-transition: all 100ms ease-in-out; 
    transition: all 100ms ease-in-out; 
    padding:10px;
}

ul#thumb-list li.current-thumb img, 
ul#thumb-list li:hover img
{ 
    opacity:1; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter:alpha(opacity=100); 
}
				
ul#thumb-list li:hover
{ 
    cursor:pointer; 
}
.formStyle
{
   overflow: hidden !important;}
.homedropdown
{
    height:22px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
    -moz-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px !important;
    behavior: url(PIE.htc);
}
#ctl00_cphWithoutScroll_CategoryViewID_lbError1, #ctl00_cphWithoutScroll_CategoryViewID_lbError
{
    color:#ffc33f  !important;
    font-family:AGOptimaCyr  !important;
    font-weight: normal;
    font-size:14pt; 
}
#ctl00_TopMenu_mnTop_SkipLink
{
    display: none;
}
.riDisplay
{
    z-index: 10000 !important;
    position: relative; color: #000 !important;

}
.Gallerystyle
{width:800px;
 float:right;
 top:0px;
 position:absolute;
 right:0px;
    display: block;  
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0px;
    behavior: url(PIE.htc);
    border-color: #3d0303;
    overflow: visible;
    padding:20px;
    background: #3d0303;   
    overflow:hidden;
}
.Gallerystyle1
{
    width:960px;  
    min-height:100%;
    display: block;  
    overflow:visible;
}
.CategoryContentGallery
{
     width:150px;
  margin-top:60px;
    min-height: 60%;
}
.RadComboBox .rcbInputCell .rcbInput 
{
     height:19px;  
}